{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="mb-4">Upload Document: {{ patient.full_name }}</h1>

<div class="card mb-4">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Upload Document</button>
            <a href="{% url 'patient_document_list' patient.pk %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
